@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 8%;
    gap: 10px;
    border-bottom: 1px solid hsl(0, 0%, 80%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}


main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: hsl(28, 100%, 80%);
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: white;
}

footer{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
    border-top: 1px solid hsl(0, 0%, 80%);
    height: 8%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

h1{
    font-size: 4rem;
}

/* Hiding arrows in Input Field Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hiding arrows in Input Field Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

table{
    /* border-collapse: collapse; */
    width: max-content;
    
}

td{
    text-align: center;
}


.infoField, .fieldName{
    text-align: left;
}
.fieldName{
    font-weight: 800;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

input:focus{
    outline: none;
}

input:read-only{
    background-color: lightgray;
    border: 1px solid black;
    color: black;
    font-weight: 800;
}

.wrapper{
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.titleWrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}

input{
    width: 30px;
    height: 30px;
}

input:invalid {
    border: 2px solid red;
}


.placeholder{
    background-color: hwb(28 80% 0%);
}

hr{
    margin: 5px; 
    border: 1px solid black;
}

img{
    height: 50px;
}

#fullHousePlayerOne, #fullHousePlayerTwo, #fullHousePlayerThree,
#fullHousePlayerFour, #fullHousePlayerFive, #kleineStrassePlayerOne,
#kleineStrassePlayerTwo, #kleineStrassePlayerThree, #kleineStrassePlayerFour,
#kleineStrassePlayerFive, #grosseStrassePlayerOne, #grosseStrassePlayerTwo,
#grosseStrassePlayerThree, #grosseStrassePlayerFour, #grosseStrassePlayerFive,
#kniffelPlayerOne, #kniffelPlayerTwo, #kniffelPlayerThree, #kniffelPlayerFour,
#kniffelPlayerFive{
    cursor: pointer;
}



/* For mobile phones: */
@media only screen and (max-width: 768px) {
    
    main{
        font-size: small;
    }


    .infoField{
        display: none;
    }

  }